
.email-input {
    width:28em;
    height:40px;
    background-image: url('../images/mail-icon.png');
    background-repeat: no-repeat;
    padding-left:5rem;
    background-position:9%;
  }
  
  .primary-button {
    width: 25em;
    height: 40px;
    margin-left: 15%;
    background-color: #6750A4;
    color: white;
  }
  
  .form-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
    height: 152px;
   }
  
  .enter-email-text {
    width:150px;
    height: 56px;
  }
  
 .app-logo{
  width: 30%;
  display: flex;
  justify-content:center ;
 }

 .invalid-feedback{
  color: red;
 }


@media (max-width:600px) {
  .forgot-password-main-container{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .app-logo-img{
    width: 200px;
    display: flex;
    justify-content:center ;
  }

  .email-input{
    width:12em;
    height:20px;
    background-image: url('../images/mail-icon.png');
    background-repeat: no-repeat;
    padding-left:1.9rem;
    background-position:5%;

  }

  .primary-button {
    width: 10em;
    height: 22px;
    margin-left: 25%;
    background-color: #6750A4;
    color: white;
  }

  .form-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    height: 152px;
  }
}